<div>Your team is
  <figure>
    <img src="{{counter?.team | logo:'toImage'}}" alt="{{counter?.team | logo}}">
    <figcaption>{{counter?.team | logo}}</figcaption>
  </figure>
</div>
<p wedHighlight #highlight="wedHighlight">Your current count is <strong>{{counter?.count}}</strong></p>

<form>
  <ng-content select="[button-bar-item]"></ng-content>
  <button (click)="up($event)" [style.background-color]="highlight.color">Count Up</button>
  <button [routerLink]="['./', counter ? counter.count : 0]">Finish</button>
</form>
